<footer class="row">
        <div class="footer">

            <div class="footer-phone-hours">
                <span class="phone">
                    801 368 8768
                </span>

                <span class="hours">
                    10 am - Midnight
                </span>
            </div>

            <div class="links-wrapper">
                <div class="nav-link">
                    <a href="index.html">Home</a>
                </div>

                <div class="nav-link">
                    <a href="location.html">Location</a>
                </div>

                <div class="nav-link">
                    <a href="user.html">User</a>
                </div>
            </div>

            <div class="social-media-icons-wrapper">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>

            <div class="copyright-wrapper">
                &copy; 2018 DevCamp &#124; All rights reserved
            </div>
        </div>
        </div>
    </footer>
    </div>
    <script src="js/app.js" type="module"></script>
</body>

</html>