<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>

<body>
    <div class="container-fluid">

        <header class="row">
            <div class="navigation-wrapper">

                <div class="left-column">
                    <div class="icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>

                    <div class="contact-hours-wrapper">
                        <div class="phone">
                            801 368 8768
                        </div>

                        <div class="hours">
                            10AM - Midnight
                        </div>

                    </div>
                </div>

                <div class="center-column">
                    <div class="banner-image">
                        <img src="./img/5a96bb195337a.png" alt="Logo">
                    </div>

                    <div class="links-wrapper">
                        <div class="nav-link">
                            <a href="index.html">Home</a>
                        </div>

                        <div class="nav-link">
                            <a href="location.html">Locations</a>
                        </div>

                        <div class="nav-link">
                            <a href="user.html">User</a>
                        </div>
                    </div>
                </div>

                <div class="right-column">
                    <div class="address-wrapper">
                        <a href="contact.html">
                            123 Any Street<br>
                            SLC, UT, 84092 </br>
                        </a>
                    </div>

                    <div class="contact-icon">
                        <a href="contact.html">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </div>
                </div>
            </div>

        </header>

        <main class="row">
        
    </div>

    <div class="hero-section">
        <div class="top-heading">
            <h1>Pizza</h1>
        </div>

        <!-- <div class="bottom-heading">
            <h3>Arlington</h3>
        </div> -->
    </div>

    <div class="features-section">
        <div class="columns-wrapper">
            <div class="column">
                <i class="fas fa-truck-monster"></i>
                <p>We Deliver!</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-wifi"></i>
                <p>Free WiFi</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-chart-line"></i>
                <p>So Many Toppings!</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>