<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>

<body>
    <div class="container-fluid">

        <header class="row">
            <div class="navigation-wrapper">

                <div class="left-column">
                    <div class="icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>

                    <div class="contact-hours-wrapper">
                        <div class="phone">
                            801 368 8768
                        </div>

                        <div class="hours">
                            10AM - Midnight
                        </div>

                    </div>
                </div>

                <div class="center-column">
                    <div class="banner-image">
                        <img src="./img/5a96bb195337a.png" alt="Logo">
                    </div>

                    <div class="links-wrapper">
                        <div class="nav-link">
                            <a href="index.html">Home</a>
                        </div>

                        <div class="nav-link">
                            <a href="location.html">Locations</a>
                        </div>

                        <div class="nav-link">
                            <a href="user.html">User</a>
                        </div>
                    </div>
                </div>

                <div class="right-column">
                    <div class="address-wrapper">
                        <a href="contact.html">
                            123 Any Street<br>
                            SLC, UT, 84092 </br>
                        </a>
                    </div>

                    <div class="contact-icon">
                        <a href="contact.html">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </div>
                </div>
            </div>

        </header>

        <main class="row">
        
    </div>

    <div class="hero-section">
        <div class="top-heading">
            <h1>Pizza</h1>
        </div>

        <!-- <div class="bottom-heading">
            <h3>Arlington</h3>
        </div> -->
    </div>

    <div class="features-section">
        <div class="columns-wrapper">
            <div class="column">
                <i class="fas fa-truck-monster"></i>
                <p>We Deliver!</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-wifi"></i>
                <p>Free WiFi</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-chart-line"></i>
                <p>So Many Toppings!</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
    <div class="menu-wrapper">
        <h1>Menu</h1>
        <div class="menu">
            <div class="dropdown">
                <form action="" method="POST">
                    <label for="location">Choose a Location:</label>
                    <select name="store" id="store">
                        <option value="fw">Fort Worth</option>
                        <option value="arlington">Arlington</option>
                        <option value="dallas">Dallas</option>
                    </select>

                    <label for="user">Choose a User:</label>
                    <select name="user" id="user">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="small">Small</label>
                    <input type="radio" name="size" id="small" value="small" checked></input>
                    <label for="medium">Medium</label>
                    <input type="radio" name="size" id="medium" value="medium" checked></input>
                    <label for="large">Large</label>
                    <input type="radio" name="size" id="large" value="large" checked></input>

                    <label for="sauce">Choose a sauce:</label>
                    <select id="sauce">
                        <option value="red">Red</option>
                        <option value="ranch">Ranch</option>
                        <option value="bbq">BBQ</option>
                    </select>

                    <label for="crust">Choose a crust:</label>
                    <select name="crust" id="crust">
                        <option value="none">&nbsp;</option>
                        <option value="hand-tossed">Hand-Tossed</option>
                        <option value="pan">Pan</option>
                        <option value="thin">Thin</option>
                    </select>
            </div>
            <div class="toppings">
                <h2>Toppings</h2>
                <input type="checkbox" name="toppings" id="pepperoni">
                <label for="topping">Pepperoni</label>
                <input type="checkbox" name="toppings" id="sausage">
                <label for="topping">Sausage</label>
                <input type="checkbox" name="toppings" id="ham">
                <label for="topping">Ham</label>
                <input type="checkbox" name="toppings" id="beef">
                <label for="topping">Beef</label>
                <input type="checkbox" name="toppings" id="green peppers">
                <label for="topping">Green Peppers</label>
                <input type="checkbox" name="toppings" id="mushrooms">
                <label for="topping">Mushrooms</label>
                <input type="checkbox" name="toppings" id="olives">
                <label for="topping">Olives</label>
                <input type="checkbox" name="toppings" id="pineapple">
                <label for="topping">Pineapple</label>
                <input type="checkbox" name="toppings" id="extra cheese">
                <label for="topping">Extra Cheese</label>
            </div>
            <button type="button" id="addPizza">add a pizza</button>

            </form>

            <section>
                <h2>your order so far...</h2>
                <ul id="orderCart">

                </ul>
                <button type="button" id="placeOrder">Place Order</button>
            </section>
        </div>
    </div>
    </main>

    <footer class="row">
        <div class="footer">

            <div class="footer-phone-hours">
                <span class="phone">
                    801 368 8768
                </span>

                <span class="hours">
                    10 am - Midnight
                </span>
            </div>

            <div class="links-wrapper">
                <div class="nav-link">
                    <a href="index.html">Home</a>
                </div>

                <div class="nav-link">
                    <a href="location.html">Location</a>
                </div>

                <div class="nav-link">
                    <a href="user.html">User</a>
                </div>
            </div>

            <div class="social-media-icons-wrapper">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>

            <div class="copyright-wrapper">
                &copy; 2018 DevCamp &#124; All rights reserved
            </div>
        </div>
        </div>
    </footer>
    </div>
    <script src="js/app.js" type="module"></script>
</body>

</html>

<!-- pizza object exports to order
order object exports to store
store object exports to user
user object -->