* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}
body, html {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

header {
    color: white;
    background: darkred;
}

nav a {
    color: lightpink;
    text-decoration: line-through;
}

/* .col-1 {
    width: 8.33%;
}

.col-2 {
    float: left;
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    float: left;
    width: 75%;
}

.col-10 {
    float: left;
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
} */

.clear {
    clear: both;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

